<.header>
  Gallery (feature disabled)
</.header>

<.list>
  <:item title="Name"><%= @gallery.name %></:item>
  <:item title="Character data"><%= @gallery.character_data_id %></:item>
</.list>

<div class="text-gray-400 text-sm">Back link disabled.</div>

<div class="text-gray-400 text-sm mt-2">Edit disabled.</div>
